<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>America_Continete</title>
    <style>


        body{

            margin: 17px 170px 17px 170px;
        }
        header{
            background: rgb(34,132,195);
            margin-top: 40px;
            padding: 12px;
            display: flex;
        }
        a {
            font-size: 22px;
            margin: 28px 10px 10px 10px ;
            position: relative;
            left: 60%;
            color: white
            
            
        }
        h1 {
            margin-left: 15px;
            color: white;
            text-align: left;
        }

        #container{
            display: flex;
        }
        .every{
            margin: 30px 12px 0px 12px;
        }
    </style>
</head>
<body>
    <header>
        <h1>America</h1>
        
    <a href="{% url 'italia'%}">Italia</a>
    <a href="{% url 'franca'%}">Franca</a>
    <a href="{% url 'alemanha'%}">Alemanha</a>

    </header>


    <main>
        <div id="container">
            <div id="1" class="every">
                <img style="position: relative; left: 50%; transform: translate(-50%);"src="https://static.todamateria.com.br/upload/ba/nd/bandeira-da-italia-og.jpg" width="550px" alt="">
                <h2>Italia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corporis dolores ab id quidem beatae alias quibusdam. In nisi incidunt soluta eveniet corporis, omnis ut doloribus reprehenderit quis autem eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veritatis perspiciatis vero eaque repellat, id vitae magni sequi maxime minima esse eligendi odit expedita, voluptas quod aliquam facere, iure commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nulla libero et praesentium explicabo adipisci ea. Doloremque consequatur, quia eum a sunt modi tenetur? Cupiditate accusantium eius blanditiis! Aliquam, saepe.</p>
   
            </div>

            <div id="2" class="every">
                <img style="position: relative; left: 50%; transform: translate(-50%);" src="http://geo5.net/imagens/Bandeira-da-Alemanha-2000px.png" width="460px" alt="">
                <h2>Alemanha</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corporis dolores ab id quidem beatae alias quibusdam. In nisi incidunt soluta eveniet corporis, omnis ut doloribus reprehenderit quis autem eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veritatis perspiciatis vero eaque repellat, id vitae magni sequi maxime minima esse eligendi odit expedita, voluptas quod aliquam facere, iure commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nulla libero et praesentium explicabo adipisci ea. Doloremque consequatur, quia eum a sunt modi tenetur? Cupiditate accusantium eius blanditiis! Aliquam, saepe.</p>

            </div>
            <br>

            <div id="3" class="every">
                <img style="position: relative; left: 50%; transform: translate(-50%);" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAP8AAACqCAMAAABVlWm8AAAACVBMVEUAJlT////OESaBoDijAAAAxklEQVR4nO3PMQEAAAjAILV/aFPsgwbMFLZwhaTv7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v75/+HwW0qVdTeFEnAAAAAElFTkSuQmCC" width="450px" alt="">
                <h2>França</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corporis dolores ab id quidem beatae alias quibusdam. In nisi incidunt soluta eveniet corporis, omnis ut doloribus reprehenderit quis autem eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veritatis perspiciatis vero eaque repellat, id vitae magni sequi maxime minima esse eligendi odit expedita, voluptas quod aliquam facere, iure commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nulla libero et praesentium explicabo adipisci ea. Doloremque consequatur, quia eum a sunt modi tenetur? Cupiditate accusantium eius blanditiis! Aliquam, saepe.</p>

            </div>

        </div>
    </main>
      <!--Conexão-->
</body>
</html>

