<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Europa_Continente</title>
    <style>
        body{
            font-size: 50px;   /*POR ISSO TA GRANDE A LETRA*/
        }
    </style>
</head>
<body>
    <a href="{% url 'italia'%}">Italia</a>
    <a href="{% url 'franca'%}">Franca</a>
    <a href="{% url 'alemanha'%}">Alemanha</a>
</body>
</html>